---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "О нас";
---

<BaseLayout pageTitle={pageTitle}>
<p>«Последнее слово» — независимый проект по сбору самых важных последних слов, прозвучавших в судах стран постсоветского пространства.</p>
</BaseLayout>
