---
import BaseLayout from '../layouts/BaseLayout.astro';
import StatementItem from '../components/StatementItem.astro'
const allStatements = Object.values(import.meta.glob('./finalStatements/*.md', { eager: true }));
const pageTitle = "Последние слова политзаключенных сказанные в суде";
---

<style>
	ul {
		columns: 3;
    column-gap: 120px;
	}

	.statements-block {
		width: 96vw;
	}
</style>

<BaseLayout pageTitle={pageTitle}>
	<div class="statements-block">
		<ul>
			{allStatements.map((statement: any) => <StatementItem url={statement.url} title={statement.frontmatter.title} />)}
		</ul>
	</div>
</BaseLayout>