---
import Navigation from "../components/Navigation.astro"
import Hamburger from "./Hamburger.astro"
import ThemeIcon from "./ThemeIcon.astro"
---

<style>
  nav {
    display: flex;
    justify-content: space-between;
  }
</style>

<header>
  <nav>
    <Hamburger />
    <ThemeIcon />
    <Navigation />
  </nav>
</header>
